header {
    width: 99vw;
    height: 70vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-image: url(../images/sunset2.jpg);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

header h1 {
    color: var(--light-color);
}



/* Form */


.form {
    background-color: #e8edf0;
}

.info-map {
    filter: grayscale(10%) invert(94%) contrast(93%);
}

@media (max-width:767px) {
    .info-map {
        height: 400px;
    }

    .form-main .container {
        width: 90%;
    }
}


/* Divider */


.section-divider {
    background: url(../svg//Shiny\ Overlay.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: var(--light-color);
}

.section-divider img {
    width: 100px;
    transition: 1s;
}

.section-divider img:hover {
    transform: scale(1.1);
}

.section-divider p {
    font-size: 1.2rem;
}


@media (min-width:768px) and (max-width:991px) {
    .section-divider img {
        width: 80px;
    }

    .section-divider p {
        font-size: 1rem;
    }
}


/* faq */

.accordion-button {
    background-color: var(--main-color) !important;
    color: var(--light-color) !important;
}

.accordion-body {
    background-color: var(--light-color);
}